# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [34]:
# import the pandas library and use the alias 'pd'
import pandas as pd


# Create 3 new dataframes

NAICS = pd.read_csv('KS 2020-2021 NAICS Code.csv')
KS_tax = pd.read_csv('KS 2021 Sales Tax Revenue by County.csv')
national = pd.read_csv('selected-monthly-sales-tax-collections-data.csv')

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [85]:
# I am using head in order to see how the data pulls into Python
KS_tax.head()

KS_tax['May 2021'].describe() # I was unable to use desribe on the whole dataset so I am testing it on the columns. 
#Using these types of data frames will provide state totals for that particular month


# I need to know column names in order to run queries
KS_tax.columns

Index(['City/County', 'January 2021', 'February 2021', 'March 2021',
       'April 2021', 'May 2021', 'June 2021', 'July 2021', 'August 2021',
       'September 2021', 'October 2021', 'November 2021', 'December 2021',
       'Unnamed: 13', 'CY Total'],
      dtype='object')

In [86]:
# I am using head in order to see how the data pulls into Python
national.head()

#checking overall statistics 
national.describe()

national.columns

Index(['Name', 'Collection Month', 'Year', 'Tax Type', 'Amount', 'FIPS State',
       'Numeric Month'],
      dtype='object')

In [96]:
# I am using head in order to see how the data pulls into Python. I added the 6 to see the whole data for 1 industry

first_industry = NAICS.head(6)

NAICS_columns = NAICS.columns


# I am creating dataframes with the first two columns which also contain many of the null values. 
codes = NAICS['NAICS Code']
Industries = NAICS['Unnamed: 0']



# I stored the methods I used in varibles and I am using print statements to display them
print('The first industry in the KS NAICS data is: ', first_industry, '\n\n\n')
print('The columns are: ', NAICS_columns,'\n\n\n')
print('These two dataframes may need to be merged: Codes ', codes,'\n and Industries ', Industries)

The first industry in the KS NAICS data is:                                        Unnamed: 0  \
0                                            NaN
1  11 Agriculture, Forestry, Fishing and Hunting
2                                            NaN
3                                            NaN
4                                            NaN
5                                  2-digit Total

                                        NAICS Code  Locations        Month of  \
0                                              NaN         NaN  November 2020
1                                              NaN         NaN            NaN
2                              111 Crop Production         10      $4,745.95
3                            112 Animal Production         11      $6,351.24
4  115 Agriculture and Forestry Support Activities          6     $10,419.29
5                                              NaN         27     $21,516.48

      Month of.1 Percent      Fiscal Year 2021      Fiscal Year 2022 Percent.1
0  November 2021  Change  July - November 2020  July - November 2021    Change
1            NaN     NaN                   NaN                   NaN       NaN
2     $7,097.19    49.5%           $25,549.22            $39,066.06      52.9%
3     $2,284.42   -64.0%           $34,045.34            $31,309.63      -8.0%
4    $21,398.96   105.4%           $87,421.06            $98,048.31      12.2%
5    $30,780.57    43.1%          $147,015.62           $168,424.00      14.6%



The columns are:  Index(['Unnamed: 0', 'NAICS Code', ' Locations ', 'Month of', 'Month of.1',
       'Percent', 'Fiscal Year 2021', 'Fiscal Year 2022', 'Percent.1'],
      dtype='object')



These two dataframes may need to be merged: Codes  0                                                  NaN
1                                                  NaN
2                                  111 Crop Production
3                                112 Animal Production
4      115 Agriculture and Forestry Support Activities
                            ...
148                                                NaN
149                    999 Unclassified Establishments
150                                                NaN
151                                                NaN
152                                                NaN
Name: NAICS Code, Length: 153, dtype: object
 and Industries  0                                                NaN
1      11 Agriculture, Forestry, Fishing and Hunting
2                                                NaN
3                                                NaN
4                                                NaN
                           ...
148                   99 Unclassified Establishments
149                                              NaN
150                                    2-digit Total
151                                              NaN
152                                           Total
Name: Unnamed: 0, Length: 153, dtype: object

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
2. Do you have any concerns about your dataset? 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data?

The orignal datasets I used did not work well due to the formatting so I had to use a different set.

Concerns:
One of the concerns I have about the datasets is there are blank rows included. There values that are duplicates, but the data reprseneted by these labels are not duplicate values. 

NAICS data:
I will have to rename the unanmed row in the NAICS code data to show the name of the industry. I will also need to specify that this is specific to the State of Kansas. The Null values will need to stay in place in the unnamed row, but I would like to try to rename them to match the NAICS Code row. The '2-digit Total' value appears multiple times in the NAICS data, but this is not a duplicate it reprents the totals, so I will have to decide whether it is possible to rename it with a specific industry name for each instance, or drop it. This does provide a good check on using sum in when I am wanting to check a subsector within a sector. I may have to use an iteration. Deciding what to do with the null values and this duplicates will be my greatest challenge. I may try to merge NAICS code with the unnamed column

National data:
For the national data, I may want to reformat the amount in a dollar format. 

KS data: 
With this data set entire rows are null so I may need to drop them. Also there is a column that is entirely blank so I will need to drop this as well